@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, img {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {box-sizing: border-box;}
body {
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
main {
    max-width: 340px;
}
.logo {width: 4rem; margin-top: 2rem;}
.logo-div {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    color: hsl(0, 0%, 59%);
}
span {
    color: black;
    font-weight: 700;
}
.first-p {
    margin-bottom: 2rem;
    font-size: 0.8rem;
}
input {
    font-family: 'Libre Franklin', sans-serif;
    width: 17.2rem;
    padding: 0.7rem;
    border-radius: 2rem;
    border: 1px solid hsl(223, 100%, 88%);
    caret-color: hsl(223, 100%, 88%);
    outline: none;
}
::placeholder {color: hsl(223, 100%, 88%);}
button {
    font-family: 'Libre Franklin', sans-serif;
    margin-top: 1rem;
    border: none;
    width: 18.5rem;
    padding: 0.7rem;
    border-radius: 2rem;
    color: white;
    background-color: hsl(223, 87%, 63%);
    transition: all 0.5s;
}
button:hover {
    cursor: pointer;
    opacity: 0.7;
}
.illustration-img {
    width: 100%;
    margin: 2.5rem 0 7rem;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.icons > i {
    border-radius: 50%;
    border: 1px solid hsl(223, 87%, 63%);
    color: hsl(223, 87%, 63%);
    transition: all 0.5s;
}
.icons > i:hover {
    cursor: pointer;
    background-color: hsl(223, 87%, 63%);
    color: white;
}
#fb {padding: 0.4rem 0.6rem;}
#tweet {padding: 0.4rem 0.42rem;}
#ig {padding: 0.4rem 0.47rem;}
.footer {
    font-size: 0.7rem;
    margin-bottom: 2rem;
    color: hsl(0, 0%, 59%);
}

.warning {
    display: none;
    font-size: 0.7rem;
    color: hsl(354, 100%, 66%);
    font-style: italic;
    margin-top: 0.5rem;
}

@media screen and (min-width: 700px) {
    main {max-width: 650px;}
    .logo {width: 5rem;}
    h1 {
        font-size: 3rem;
    }
    .first-p {
        font-size: 1.25rem;
    }
    .info {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }
    input {
        width: 25rem;
        padding: 1rem;
    }
    button {
        margin-top: 0;
        width: 12.5rem;
        padding: 1rem;
    }
    .illustration-img {
        margin-top: 4rem;
    }
}